$netflix-red: #e50914;
$netflix-text-color: white;
$netflix-background-color: black;
$netflix-border-color: #333;
$netflix-gradient-color: rgba(0, 0, 0, 0.4);
$netflix-link-color: #b3b3b3;
$login-background: rgba(0, 0, 0, 0.7);
